body{
    font-family: 'Roboto', sans-serif;
}
/* header CSS */
#headerRow1{
    background-color: black;
    height: 50px;
}
#navbarRow1{
    padding: 10px 50px;
    background-color: Silver!important;
    height: 50px;
}

#navbarRow1 button{
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
}
#navbarRow1 li{
    margin-right: 20px;
}
#navbarRow1 li button:hover{
   color: gray;
   border-color: gray;
}
#navbarRow1 .modal-content{
    padding: 30px 20px;
    border-radius: 40px;
}
#navbarRow1 #modalTitleBox{
    padding-bottom: 25px;
}
#navbarRow1 #modalTitleRow1{
    display: flex;
}
#navbarRow1 #modalTitleRow1 #modalTitleLeft{
    width: 90%;
    margin-left: 30%;
    font-size: 30px;
}
#navbarRow1 #modalTitleRow1 #modalTitleRight{
    width: 10%;
    text-align: right;
    margin: 10px 0px;
}
#modalTitleRow2{
    text-align: center;
    font-size: 30px;
}
#navbarRow1 #memberModalFormBox{
    padding: 0px 50px;
}
#memberFormSubmitBtn{
    width: 85%;
    border-radius: 70px;
    border: 1px solid gray;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}
#memberFormSubmitBtn:hover{
    background-color: gainsboro;
}
#navbarRow2{
    padding: 0px 90px;
}
#navbarRow2 #navInnerText{
    border-bottom:  2px solid transparent;
    transition: 1s ease;
}
#navbarRow2 #navInnerText:hover{
    border-bottom: 2px solid gray;
    transition: 1s ease;
}
#goodsDropdown{
    position: absolute;
    top: 100px;
    left: 40px;
}
#goodsNAME{
    color: gray;
}
#goodsNAME:hover{
    color: black;
}
#navbarSupportedContent{
    font-size: 20px;
    font-weight: bold;
}
#navbarSupportedContent li{
    margin-right: 20px;
}
#toolsForm button{
    border: 0;
    height: 50px;
    width: 50px;
    color: gray;
}
#toolsForm button:hover{
    color: white;
    background-color: gray;
}
#toolsForm button i{
    position: absolute;
    left: 0;
    top: 0;
}
#toolsForm button i:hover{
    color: white;
    cursor: pointer;
}
#toolsForm a{
    text-decoration: none;
    color: black;
}
#toolsForm i{
    font-size: 30px;
    margin: 10px 10px;
}
#toolsForm i:hover{
    color: gray;
    cursor: pointer;
}
/* header CSS */
/* section CSS */
#marqueeBox{
    height: 60px;
    border-bottom: 1px solid lightgrey;
}
#marqueeBox marquee{
    margin: 0.65% 10%;
    box-shadow: 1px 1px 10px lightgrey;
    font-weight: bold;
    color: gray;
    border-radius: 50px;
    font-size: 20px;
}
#aboutBox{
    padding: 5% 10%;
    display: flex;
}
#personBox{
    width: 21.25%;
    margin-right: 5%;
    border: 1px solid lightgray;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#personDetailTop{
    display: flex;
}
#personDetailTopLeft{
    text-align: left;
    width: 50%;
}
#personDetailTopRight{
    width: 50%;
    display: flex;
}
#personDetailTopRight a{
    color: black;
}
#personDetailTopRight a:hover{
    color: dimgray;
    cursor: pointer;
}
#personTop img{
    width: 100%;
}
#personDetailTopLeft{
    font-size: 30px;
}
#personBottom{
    padding: 30px 20px 15px 20px;
    font-weight: bold;
    font-size: 20px;
}
/* section CSS */
/* footer CSS */
footer{
    margin-bottom: 40px;
    width: 100%;
    border-top: 1px solid LightGrey;
    padding: 10px 30px;
}
#fopterRow1{
    width: 5%;
    margin: 3% 47.5%;
}
#fopterRow1 img{
    width: 100%;
}
#fopterRow2{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    padding: 0px 100px;
    margin-bottom: 30px;
}
#detailBox{
    display: flex;
    width: 25%;
}
#detailBox i{
    font-size: 35px;
    padding-right: 25px;
}
#detailBox p{
    color: gray;
}
#detailBox p:hover{
    color: darkgray;
}
#detailBox a{
    display: flex;
    text-decoration: none;
    color: black;
}
#fopterRow3{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: darkgray;
}
#fopterRow3 i{
    padding-right: 10px;
    font-size: 25px;
}
/* footerCSS */
/* animate css */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);
.personalityText {
  background-color: rgb(41, 46, 57);
  color: #fff;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  height: 320.5px;
  cursor: pointer;
}

.personalityText * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.personalityText:before,
.personalityText:after {
  background-color: rgba(46, 52, 64,  0.5);
  border-top: 50px solid rgba(46, 52, 64, 0.5);
  border-bottom: 50px solid rgba(46, 52, 64, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.personalityText:before {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.personalityText:after {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.personalityText img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.personalityText figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.personalityText h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.personalityText h3 span {
  display: block;
  font-weight: 700;
}

.personalityText a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.personalityText:hover > img,
.personalityText.hover > img {
  opacity: 0.7;
}

.personalityText:hover:before,
.personalityText.hover:before,
.personalityText:hover:after,
.personalityText.hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.personalityText:hover figcaption,
.personalityText.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* animate css */